In [2]:
import pandas as pd
import numpy as np
import os

In [4]:
df_prods = pd.read_csv(r'C:\Users\Jose Zambom\OneDrive - Exel Industries\Data Analysis\Data Analytics Immersion\Python Fundamentals for Data Analyst\csv file\4.3_orders_products\products.csv', index_col = False)

In [5]:
df_ords = pd.read_csv(r'C:\Users\Jose Zambom\OneDrive - Exel Industries\Data Analysis\Data Analytics Immersion\Python Fundamentals for Data Analyst\csv file\Prepared Data\orders_wrangled.csv', index_col = False)

In [6]:
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

In [7]:
# Create a dataframe
df_test = pd.DataFrame()

In [14]:
#Create a mixed type column
df_test['mix'] = ['a', 'b', 1, True]

In [15]:
df_test.head()

    mix
0     a
1     b
2     1
3  True

In [16]:
# Check for mixed types
for col in df_test.columns.tolist():
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (df_test[weird]) > 0:
    print (col)

mix

C:\Users\Jose Zambom\AppData\Local\Temp\ipykernel_1964\772068622.py:3: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  weird = (df_test[[col]].applymap(type) != df_test[[col]].iloc[0].apply(type)).any(axis = 1)

In [17]:
df_test['mix'] = df_test['mix'].astype('str')

In [20]:
df_prods.isnull().sum()

product_id        0
product_name     16
aisle_id          0
department_id     0
prices            0
dtype: int64

In [21]:
df_nan = df_prods[df_prods['product_name'].isnull()==True]

In [22]:
df_nan

       product_id product_name  aisle_id  department_id  prices
33             34          NaN       121             14    12.2
68             69          NaN        26              7    11.8
115           116          NaN        93              3    10.8
261           262          NaN       110             13    12.1
525           525          NaN       109             11     1.2
1511         1511          NaN        84             16    14.3
1780         1780          NaN       126             11    12.3
2240         2240          NaN        52              1    14.2
2586         2586          NaN       104             13    12.4
3159         3159          NaN       126             11    13.1
3230         3230          NaN       120             16    14.4
3736         3736          NaN        41              8    14.8
4283         4283          NaN        77              7    14.4
4790         4790          NaN        91             16    14.5
38187       38183          NaN        39             12    20.9
40444       40440          NaN       120             16    14.8

In [23]:
df_prods.shape

(49693, 5)

In [25]:
df_prods_clean = df_prods[df_prods['product_name'].isnull()==False]

In [26]:
df_prods_clean.shape

(49677, 5)

In [27]:
df_dups = df_prods_clean[df_prods_clean.duplicated()]

In [28]:
df_dups

,product_id,product_name,aisle_id,department_id,prices
462,462,Fiber 4g Gummy Dietary Supplement,70,11,4.8
18459,18458,Ranger IPA,27,5,9.2
26810,26808,Black House Coffee Roasty Stout Beer,27,5,13.4
35309,35306,Gluten Free Organic Peanut Butter & Chocolate ...,121,14,6.8
35495,35491,Adore Forever Body Wash,127,11,9.9

In [30]:
df_prods_clean_no_dups = df_prods_clean.drop_duplicates()

In [31]:
df_prods_clean_no_dups.shape

(49672, 5)

In [32]:
df_prods_clean_no_dups.to_csv(r'C:\Users\Jose Zambom\OneDrive - Exel Industries\Data Analysis\Data Analytics Immersion\Python Fundamentals for Data Analyst\csv file\Prepared Data\products_checked.csv', index=False)

In [34]:
# part 2
df_ords.describe()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
count,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.421083e+06,3.214874e+06
mean,1.710542e+06,1.029782e+05,1.715486e+01,2.776219e+00,1.345202e+01,1.111484e+01
std,9.875817e+05,5.953372e+04,1.773316e+01,2.046829e+00,4.226088e+00,9.206737e+00
min,1.000000e+00,1.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.552715e+05,5.139400e+04,5.000000e+00,1.000000e+00,1.000000e+01,4.000000e+00
50%,1.710542e+06,1.026890e+05,1.100000e+01,3.000000e+00,1.300000e+01,7.000000e+00
75%,2.565812e+06,1.543850e+05,2.300000e+01,5.000000e+00,1.600000e+01,1.500000e+01
max,3.421083e+06,2.062090e+05,1.000000e+02,6.000000e+00,2.300000e+01,3.000000e+01

### Analysis of `df_ords.describe()` output

1. **`order_id`**: The `min` and `max` values of `1` and `3.4 million` for `order_id` are as expected, and no further investigation is needed here.

2. **`user_id`**: The `min` of `1` and `max` of `206,209` for `user_id` suggest there are around 206,209 users, which seems reasonable.

3. **`order_number`**: The `max` value of `100` indicates that no user has placed more than 100 orders. This could be due to a system-imposed limit or might warrant investigation to ensure it aligns with business expectations.

4. **`orders_day_of_week`**: The `min` of `0` and `max` of `6` are consistent with the standard range for days of the week (Sunday = 0, Saturday = 6). No issues here.

5. **`order_hour_of_day`**: The range from `0` (midnight) to `23` (11 PM) is expected for hours of the day. No issues here.

6. **`days_since_prior_order`**: The `min` value of `0` and `max` of `30` days for the gap between orders seem reasonable, but it may be worth confirming if the maximum gap of 30 days is expected, or if there could be missing data for longer periods.

Overall, the data looks mostly fine, but the `order_number` and `days_since_prior_order` columns may need further investigation depending on business rules.

In [46]:
# Part 3 mixed-type data check
for col in df_ords.columns.tolist():
    # Check for mixed types by comparing types in the column
    weird = df_ords[col].apply(type) != type(df_ords[col].iloc[0])
    
    # If any rows have a different type, print the column name
    if weird.any():
        print(f"Mixed types found in column: {col}")

Mixed types found in column: order_number
Mixed types found in column: orders_day_of_week
Mixed types found in column: order_hour_of_day
Mixed types found in column: days_since_prior_order

In [47]:
# Part 4 If you find mixed-type data, fix it

# Convert 'order_id' and 'user_id' to string (since they are identifiers)
df_ords['order_id'] = df_ords['order_id'].astype(str)
df_ords['user_id'] = df_ords['user_id'].astype(str)

# Convert 'order_number', 'orders_day_of_week', 'order_hour_of_day' to integers
df_ords['order_number'] = pd.to_numeric(df_ords['order_number'], errors='coerce', downcast='integer')
df_ords['orders_day_of_week'] = pd.to_numeric(df_ords['orders_day_of_week'], errors='coerce', downcast='integer')
df_ords['order_hour_of_day'] = pd.to_numeric(df_ords['order_hour_of_day'], errors='coerce', downcast='integer')

In [49]:
# Part 5 Run a check for missing values 
missing_values = df_ords.isnull().sum()
print(missing_values)

order_id                       0
user_id                        0
eval_set                       0
order_number                   0
orders_day_of_week             0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

### Explanation:

The column `days_since_prior_order` has 206,209 missing values. This makes sense because `days_since_prior_order` is likely missing for users who have placed their first order, as there would be no prior order to calculate the days since. For new customers, it's expected that this field is empty or `NaN` since no prior data is available.

To handle these missing values, we could:
1. **Keep them as is**, since they carry meaning (first-time order).
2. **Fill them with 0**, assuming that first-time orders are effectively 0 days since any prior order.

In [55]:
missing_data = df_ords[df_ords['days_since_prior_order'].isnull()]

missing_data.head()

,order_id,user_id,eval_set,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,prior,1,2,8,NaN
11,2168274,2,prior,1,2,11,NaN
26,1374495,3,prior,1,1,14,NaN
39,3343014,4,prior,1,6,11,NaN
45,2717275,5,prior,1,3,12,NaN

In [59]:
# Part 6 Address the missing values using an appropriate method

# Fill NaN values in 'days_since_prior_order' with 0 and assign the result back to the column
df_ords['days_since_prior_order'] = df_ords['days_since_prior_order'].fillna(0)

# Check for missing values again to ensure they're addressed
missing_values_after = df_ords.isnull().sum()
print(missing_values_after)

order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

### Addressing Missing Values

After analyzing the missing values in the `df_ords` DataFrame, it was found that the `days_since_prior_order` column had 206,209 missing values. These missing values are likely associated with users placing their first order, where no prior order exists to calculate the number of days since the last order.

#### Method Used:
I chose to fill the missing values with `0`, as this is a logical assumption for first-time customers. The reasoning is that if a customer is placing their first order, it makes sense to represent the gap between orders as 0 days, since there is no prior order.

#### Why this method?
- **Preserves data consistency**: By filling missing values with `0`, we can maintain the consistency of the data while preserving the meaning of the missing values.
- **Avoids potential bias**: Leaving the missing values as `NaN` could interfere with subsequent analyses, such as calculating averages or other statistics.
- **Contextually appropriate**: Given that first-time customers naturally have no prior order, a `0` in this field accurately reflects their situation.

In [60]:
# Part 7 Check for duplicate rows

duplicate_rows = df_ords[df_ords.duplicated()]
print(duplicate_rows)

Empty DataFrame
Columns: [order_id, user_id, eval_set, order_number, orders_day_of_week, order_hour_of_day, days_since_prior_order]
Index: []

### Duplicate Values Report

After running a check for duplicate values in the `df_ords` DataFrame, no duplicate rows were found. This means that all the rows in the dataset are unique, and no duplicate entries were detected.

#### Explanation:

The absence of duplicate values suggests that the data collection and entry process was likely consistent and error-free in terms of duplication. This ensures that each order is recorded only once, contributing to the accuracy of any analysis performed on this da
aset.

No further actions are required regarding duplicates.

In [62]:
print(missing_values_after)

order_id                  0
user_id                   0
eval_set                  0
order_number              0
orders_day_of_week        0
order_hour_of_day         0
days_since_prior_order    0
dtype: int64

In [64]:
missing_values_after.to_csv(r'C:\Users\Jose Zambom\OneDrive - Exel Industries\Data Analysis\Data Analytics Immersion\Python Fundamentals for Data Analyst\csv file\Prepared Data\ords_clean.csv', index=False)